:root {
    --bg-color: rgba(27, 38, 54, 1);
    --text-color: white;
    --toolbar-bg: #1e293b;
    --toolbar-height: 35px;
    --hover-bg: rgba(255, 255, 255, 0.1);
    --close-hover-bg: #e81123;
    --font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

html {
    background-color: var(--bg-color);
    text-align: center;
    color: var(--text-color);
}

body {
    margin: 0;
    color: var(--text-color);
    font-family: var(--font-family), sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    text-align: center;
}
